.component.ad-tag {
  background: $ad-background-color;
  width: 100%;

  > div {
    margin: 0 auto;
  }

  .phone & {
    height: $phone-ad-height;

    > div,
    iframe {
      height: $phone-ad-height;
      width: $phone-ad-width;
    }
  }

  .tablet & {
    height: $tablet-ad-height;

    > div,
    iframe {
      height: $tablet-ad-height;
      width: $tablet-ad-width;
    }
  }

  iframe {
    border: none;
  }
}
