
.component.audio-player {
  $phone-size : 48px;
  $tablet-size : 64px;

  // this is a temporary fix until icons are properly implemented
  @mixin player-button($icon, $shade) {
    $icondir : 'resources/icons';

    height: $phone-size;
    width: $phone-size;

    .tablet & {
      height: $tablet-size;
      width: $tablet-size;
    }

    display: block;

    $inverse : 'light';
    @if $shade == 'light' {
      $inverse : 'dark';
    }

    background-size: contain;

    background-image: url('#{$icondir}/#{$shade}/icon-player-#{$icon}.png');
    opacity: .8;

    &:active {
      background-image: url('#{$icondir}/#{$inverse}/icon-player-#{$icon}.png');
      opacity: 1;
    }
  }

  @include flex-column-container;

  $widgets : 3;

  height: $phone-size;
  width: $phone-size * $widgets;

  .tablet & {
    height: $tablet-size;
    width: $tablet-size * $widgets;
  }

  .playpause {
    @include player-button(play, light);
  }

  .rev30 {
    @include player-button(rev30, light);
  }

  .spinner {
    height: $phone-size;
    width: $phone-size;

    color: $narrow-button-color;
    background-color: transparentize($narrow-button-color, .8);

    .tablet & {
      height: $tablet-size;
      width: $tablet-size;
    }
  }

  &.playing {
    .playpause {
      @include player-button(pause, light);
    }
  }

  audio {
    display: none;
  }
}
