.component.audio-player {
  @include flex-column-container;

  height: 48px;

  .tablet & {
    height: 64px;
  }

  .playpause {
    @include webkit-mask-icon(play);

    display: block;

    background-color: $narrow-button-color;

    &:active {
      background-color: $narrow-button-highlight-color;
    }
  }

  .rev30 {
    @include webkit-mask-icon(rev30);

    display: block;

    background-color: $narrow-button-color;

    &:active {
      background-color: $narrow-button-highlight-color;
    }
  }

  .spinner-container {
    $off : 50%;
    $size: 64px;
    $inset-size: .625;

    height: $size * $inset-size;
    width: $size * $inset-size;
    padding: $size * (1 - $inset-size)/2;

    display: block;

    .spinner {
      height: 100%;
      width: 100%;
      border: 2px solid transparent;
      border-radius: 100px;
      background-color: transparentize($narrow-button-color, .8);

      > div {
        display: inline-block;
      }

      .spinner-fill {
        height: 100%;
        width: 50%;

        // 100px is chosen just to be >> than the element
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;

        background-color: $narrow-button-color;
        visibility: hidden;

        -webkit-transform: translateX($off) rotate(180deg) translateX($off * -1);

        &.fill-side {
          visibility: visible;
        }

        z-index: 1;
      }

      .spinner-dial-container {
        height: 100%;
        width: 50%;

        &.fill-side {
          -webkit-transform: translateX($off * -1) rotate(180deg) translateX($off);
        }
      }

      .spinner-dial {
        height: 100%;
        width: 100%;

        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

        background-color: $narrow-button-color;

        -webkit-transform: translateX($off * -1) rotate(180deg) translateX($off);

      }
    }
  }

  &.playing {
    .playpause {
      @include webkit-mask-icon(pause);
    }

    .spinner {
      border-color: $narrow-button-color;
    }
  }

  audio {
    display: none;
  }
}
