.component.audio-player {
  @include flex-column-container;

  .playpause {
    @include webkit-mask-icon(play);

    display: block;

    background-color: $narrow-button-color;

    &:active {
      background-color: $narrow-button-highlight-color;
    }
  }

  .rev30 {
    @include webkit-mask-icon(rev30);

    display: block;

    background-color: $narrow-button-color;

    &:active {
      background-color: $narrow-button-highlight-color;
    }
  }

  &.playing {
    .playpause {
      @include webkit-mask-icon(pause);
    }
  }

  .spinner-container {
    $off : 50%;
    $size: 64px;
    $inset-size: .625;

    height: $size * $inset-size;
    width: $size * $inset-size;
    padding: $size * (1 - $inset-size)/2;

    display: block;

    .spinner {
      height: 100%;
      width: 100%;
      border-radius: 100px;
      background-color: transparentize($narrow-button-color, .8);
      > div {
        display: inline-block;
      }

      .spinner-fill {
        height: 100%;
        width: 50%;

        // 100px is chosen just to be >> than the element
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;

        background-color: $narrow-button-color;
        visibility: hidden;

        -webkit-transform: translateX($off) rotate(180deg) translateX($off * -1);

        &.fill-side {
          visibility: visible;
        }

        z-index: 1;
      }

      .spinner-dial-container {
        height: 100%;
        width: 50%;

        &.fill-side {
          -webkit-transform: translateX($off * -1) rotate(180deg) translateX($off);
        }
      }

      .spinner-dial {
        height: 100%;
        width: 100%;

        border-top-right-radius: 100px;
        border-bottom-right-radius: 100px;

        background-color: white;

        -webkit-transform: translateX($off * -1) rotate(180deg) translateX($off);

      }
    }
  }

  audio {
    width: 60%;
    padding-top: 12px;

    // iOS displays <audio> much higher than it should
    .ios & {
      padding-top: 16px;
    }
  }


  // Android native only <audio> doesn't work within PhoneGap
  form {
    width: 60px;
    margin: 0 auto;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-border-radius: 5px;
    padding: 0px 0;

    @include chrome-gradient;
    @include box-shadow(0, 1px);

    input {
      -webkit-box-flex: 1;

      margin: 0;
      display: block;
      border: none;

      height: 30px;
      font-size: 15px;
      background-color: transparent;

      &.play {
        @include icon('resources/icons/btn-play.png', 30px, 30px);
      }

    }
  }

  &.playing input.play {
    @include icon('resources/icons/btn-pause.png', 30px, 30px);
  }
}
