.component.audio-player {
  @include flex-column-container;
  $phone-size: 48px;
  $tablet-size: 64px;

  height: $phone-size;

  .tablet & {
    height: $tablet-size;
  }

  .playpause {
    @include webkit-mask-icon(play);

    display: block;

    background-color: $narrow-button-color;

    &:active {
      background-color: $narrow-button-highlight-color;
    }
  }

  .rev30 {
    @include webkit-mask-icon(rev30);

    background-color: $narrow-button-color;

    &:active {
      background-color: $narrow-button-highlight-color;
    }
  }

  .spinner {
    height: $phone-size;
    width: $phone-size;

    .tablet & {
      height: $tablet-size;
      width: $tablet-size;
    }
  }

  &.playing {
    .playpause {
      @include webkit-mask-icon(pause);
    }
   }

  audio {
    display: none;
  }
}
