.component.page-nav {
  color: $chrome-text-color;

  > .top {
    @include chrome-gradient-flat;
    @include box-shadow(0, 1px);
  }

  .tablet & > .top {
    ul {
      li.back,
      li.more {
        border-right: 1px solid $chrome-border-color;
      }

      li {
        @include page-nav-buttons(back home menu search more);
      }
    }
  }

  .phone & > .top {
    div {
      @include page-nav-buttons(map list back more home);

      &.list,
      &.map {
        a {
          background-position: center;
        }
      }

      &.toggleButton + div:last-child {
        width: 45px;

        a {
          background-position-x: center;
        }
      }
    }
  }
}
