.component.playlist-button {
  width: 64px;
  height: 64px;
  -webkit-transition: 100ms linear background-color;

  a {
    @include player-button(list, light);
    opacity: .8;

    display:  inline-block;
    text-indent: -99em;
  }

  &.playlist-visible {
    background-color: $narrow-button-highlight-color;

    a {
      @include player-button(list, dark);
    }
  }
}
