.component.playlist-button {
  width: 64px;
  height: 64px;
  -webkit-transition: background-color .35s linear;

  a {
    @include webkit-mask-icon(list);

    display:  inline-block;
    background-color: $narrow-button-color;
    -webkit-transition: background-color .35s linear;
    text-indent: -99em;

    &:active {
      background-color: $narrow-button-highlight-color;
    }
  }

  &.playlist-visible {
    background-color: $narrow-button-highlight-color;

    a {
      @include webkit-mask-icon(list, light);
      background-color: $narrow-button-text-color;
    }
  }
}
