.component.image-child-nodes {
  li {

    a {
      @include child-node-link;
      @include list-component-link;
      @include flex-column-container;
      white-space: normal;
      -webkit-box-align: center;
      padding: 10px 50px 10px 10px;

      span {
        padding: 0px 50px 0px 0px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        line-height: 1.65em;
      }
    }

    .image {
      width: 64px;
      height: 48px;
      @include fixed-flex-region;
      margin-right: 10px;
      background-size: cover;
    }
  }
}