.component.image-child-nodes {

   li {
     a {
       @include child-node-link;
        @include list-component-link;
     }
   }

  li .image {
    width: 64px;
    height: 48px;
    display: inline-block;
  }

  li a .nameText {
    line-height: 48px;
    vertical-align: top;
    padding: 0px 50px 0px 10px;
  }
}