%nav.component.page-nav
  .top
    :if isTablet
      %ul
        :if !isNotStandalone
          %li.back
            %a{ dojoType : 'toura.components.buttons.BackButton', dojoAttachPoint : 'backButton' }
        %li.home
          %a{ dojoType : 'toura.components.buttons.HomeButton', dojoAttachPoint : 'homeButton' }

      %h1
        %span{ dojoAttachPoint : 'titleElement' }= title

      %ul
        :if shareable
          %li.more
            %a{ dojoType : 'toura.components.buttons.MoreDrawerButton', dojoAttachPoint : 'moreDrawerButton' }

        %li.search
          %a{ href : searchUrl }

    :if isPhone
      :if !isNotStandalone
        .back
          %a{ dojoType : 'toura.components.buttons.BackButton', dojoAttachPoint : 'backButton' }
      :if isNotStandalone
        .home
          %a{ dojoType : 'toura.components.buttons.HomeButton', dojoAttachPoint : 'homeButton' }
      %h1
        %span{ dojoAttachPoint : 'titleElement' }= title
      
      
      :if layoutToggle
        .toggleButton
          %a{ dojoType : 'toura.components.buttons.LayoutToggleButton', dojoAttachPoint : 'layoutToggleButton' }

      :if shareable
        .more
          %a{ dojoType : 'toura.components.buttons.MoreDrawerButton', dojoAttachPoint : 'moreDrawerButton' }

      :if !shareable
        :if !isNotStandalone
          .home
            %a{ dojoType : 'toura.components.buttons.HomeButton', dojoAttachPoint : 'homeButton' }

  :if shareable
    %div{ dojoType : 'toura.components.MoreDrawer', dojoAttachPoint : 'moreDrawer' }
