.page.audio-with-images-tablet {
  .component.audio-caption,
  .component.image-caption {
    @include caption-text;

    &:not(.empty) {
      padding: 10px;
    }
  }

  .screen.index {
    @include standard-screen;

    .region.page-content {
      @include flex-row-container;

      @media (orientation: landscape) {
        @include flex-column-container;
      }

      .region.image-container {
        @include background-shadow;
        @include flex-row-container;
        @include fixed-flex-region;
        padding-top: 10px;
        min-width: 75%;

        @media (orientation: landscape) {
          border-bottom: none;
          @include background-shadow(right);
        }

        .component.image-gallery {
          @media (orientation: portrait) {
            @include fixed-height-gallery;
          }
        }

        .region.caption {
          @include fixed-flex-region;
        }
      }

      .region.non-image-content {
        @include flex-row-container;

        .region.body-text-container {
          @include flex-column-container;

          .child-nodes:not(.empty) {
            padding-top: 10px;
          }

          .body-text:not(.empty) {
            padding: 20px;
          }
        }

        > .region.text-and-child-nodes {
          @include flex-column-container;
          @media (min-width: 800px) {
            @include portrait-column;
          }

          @media (orientation: landscape) {
            display: none;
          }

          .region.child-nodes-container {
            margin-top: 10px;                 // to line up with body text

            &.empty {
              -webkit-box-flex: .188889;      // 1/6 width
            }
          }
        }

        > .region.body-text-child-nodes-unified {
          @media (orientation: portrait) {
            display: none;
          }

          .component.body-text {
            margin: 10px;
          }
        }
      }
    }

    .region.audio-container {
      @include fixed-flex-region;
      background-color: $chrome-color;
      box-shadow: 0 -1px 5px rgba(0,0,0,.5);
      @include flex-column-container;

      > * {
        width: 100%;
      }

      .region.audio-active-player {
        @include flex-column-container;

        > .region:not(.caption-container) {
          @include fixed-flex-region;
        }
      }

      .component.audio-player {
        width: 250px;

        audio {
          width: 90%;
        }
      }

      .component.audio-caption {
        color: invert($text-color);
      }

      .component.playlist-button {
        width: 64px;
        height: 64px;
        a {
          width: 100%;
          height: 100%;
          background-color: $narrow-button-color;
          text-indent: -99em;
          -webkit-mask: url('resources/icons/mask/icon_list_dark_64.png') no-repeat scroll;

          &:active {
            background-color: $narrow-button-highlight-color;
          }
        }

        &.playlist-visible {
          background-color: $narrow-button-highlight-color;

          a {
            -webkit-mask-position: center 1px;
            background-color: $narrow-button-text-color;
          }
        }
      }

      .region.audio-list {
        background-color: $narrow-button-highlight-color;
        position: absolute;
        border: 1px solid $chrome-border-color;
        bottom: 100%;
        right: 0;
        height: 200px;
        width: 65%;
        border-width: 1px 0 0 1px;

        @media (orientation: landscape) {
          height: 300px;
          width: 55%
        }
      }

      audio {
        position: relative;
        top: -5px;
      }

      // here we'll just completely override the styles
      // on the audio player component to make it work here
      .ui-buttons {
        float: left;

        li {
          @include nav-button-base(list);

          a {
            display: block;
            height: 44px;
            width: 44px;
          }
        }
      }
    }
  }

  .screen.detail {
    @include flex-row-container;

    .region.header {
      @include layout-overlay;

      > * {
        width: 100%;
      }
    }
  }
}
