.page.audio-with-images-tablet-redux {
  .component.audio-caption,
  .component.image-caption {
    @include caption-text;

    &:not(.empty) {
      padding: 10px;
    }
  }

  .screen.index {
    @include standard-screen;

    .region.page-content {
      @include flex-row-container;

      > .cover {
        @include pullout;

        &.hidden {
          display: none;
        }
      }

      @media (orientation: landscape) {
        @include flex-column-container;
      }

      .region.image-container {
        @include background-shadow;
        @include flex-row-container;
        @include fixed-flex-region;
        padding-top: 10px;
        min-width: 75%;

        @media (orientation: landscape) {
          border-bottom: none;
          @include background-shadow(right);
        }

        .component.image-gallery {
          @media (orientation: portrait) {
            @include fixed-height-gallery;
          }
        }

        .region.caption {
          @include fixed-flex-region;
        }
      }

      .region.non-image-content {
        @include flex-row-container;

        .region.body-text-container {
          @include flex-column-container;

          .child-nodes:not(.empty) {
            padding-top: 10px;
          }

          .body-text:not(.empty) {
            padding: 20px;
          }
        }

        > .region.text-and-child-nodes {
          @include flex-column-container;
          @media (min-width: 800px) {
            @include portrait-column;
          }

          @media (orientation: landscape) {
            display: none;
          }

          .region.child-nodes-container {
            margin-top: 10px;                 // to line up with body text

            &.empty {
              -webkit-box-flex: .188889;      // 1/6 width
            }
          }
        }

        > .region.body-text-child-nodes-unified {
          @media (orientation: portrait) {
            display: none;
          }

          .component.body-text {
            margin: 10px;
          }
        }
      }
    }

    .region.audio-container {
      @include fixed-flex-region;
      background-color: $chrome-color;
      box-shadow: 0 -1px 5px rgba(0,0,0,.5);
      @include flex-column-container;

      min-height: 64px;

      > * {
        width: 100%;
      }

      .region.audio-active-player {
        @include flex-column-container;

        > .region {
          display: -webkit-box;
          -webkit-box-align: center;
        }

        > .region:not(.caption-container) {
          @include fixed-flex-region;
        }
      }

      .component.audio-player {
        width: 250px;
        padding: 8px 0;

        audio {
          width: 90%;

          padding-top: 0;
        }
      }

      .component.audio-caption {
        color: invert($text-color);
      }

      .region.audio-list {
        padding: 5px 5px 0;
        position: absolute;
        bottom: 100%;
        right: 0;
        width: 55%;
        height: 9em;
        opacity: 1;
        visibility: visible;
        overflow: hidden;

        -webkit-transition: height .25s ease-out, opacity 150ms ease-out;

        font-size: 90%;

        &.hidden {
          display: block !important;
          height: 0;
          overflow: hidden;
          opacity: 0;
        }

        @media (orientation: landscape) {
          width: 40%
        }

        .pane {
          background-color: $narrow-button-highlight-color;
          border: 1px solid;
          @if ($font-scheme == dark) {
            border-color: darken($app-background-color, 27%);
          } @else {
            border-color: lighten($app-background-color, 17%);
          }
          border-width: 1px 0 0 1px;
          margin: 5px 5px 0;
          box-shadow: 0 0 5px rgba(0,0,0,.5);
        }
      }
    }
  }

  .screen.detail {
    @include flex-row-container;

    .region.header {
      @include layout-overlay;

      > * {
        width: 100%;
      }
    }
  }
}
