.page.map-child-phone {
  .screen.map {
    @include standard-screen;

    .region.google-map {
      @include flex-row-container;
    }
  }
  
  .screen.list {
    @include standard-screen;
  }
  
  .component.page-nav {
    .toggle {
      border: 1px solid $chrome-border-color;
      border-width: 0 1px 0 0;
      
      .screen.map & {
        // stub still
      }
      
      .screen.list & {
        // stub still
      }
    }
  }
  
  .component.body-text {
    padding: 10px;
  }
}