.page.map-child-phone {
  .screen.map {
    @include standard-screen;

    .region.google-map {
      @include flex-row-container;
    }
  }
  
  .screen.list {
    @include standard-screen;
  }
  
  .component.page-nav {
    .toggleButton {
      border: 1px solid $chrome-border-color;
      border-width: 0 1px;
    }
  }
  
  .component.body-text {
    padding: 10px;
  }
}