%li
  %a{ href : url }
    :if isTablet
      .image{ dojoType : 'mulberry.ui.BackgroundImage', imageUrl : featuredImage.large.url, loadOnInit: true }
    :if isPhone
      .image{ dojoType : 'mulberry.ui.BackgroundImage', imageUrl : featuredImage.small.url, loadOnInit: true }
    %h3= name
