%ul.component.child-node-grid
  :each c in children
    %li
      %a{ href : c.url }
        :if isTablet
          .image{ dojoType : 'mulberry.ui.BackgroundImage', imageUrl : c.featuredImage.large.url, loadOnInit: true }
        :if isPhone
          .image{ dojoType : 'mulberry.ui.BackgroundImage', imageUrl : c.featuredImage.small.url, loadOnInit: true }
        %h3= c.name
