@charset "UTF-8";
/* line 1, ../../sass/partials/_syntax.scss */
.highlight, html .gist .gist-file .gist-syntax .gist-highlight {
  border: 1px solid #05232b !important;
}
/* line 2, ../../sass/partials/_syntax.scss */
.highlight table td.code, html .gist .gist-file .gist-syntax .gist-highlight table td.code {
  width: 100%;
}
/* line 3, ../../sass/partials/_syntax.scss */
.highlight .line-numbers, html .gist .gist-file .gist-syntax .gist-highlight .line-numbers {
  text-align: right;
  font-size: 13px;
  line-height: 1.45em;
  background: #002f3b url('/images/noise.png?1319314870') top left !important;
  border-right: 1px solid #062e39 !important;
  -moz-box-shadow: #003340 -1px 0 inset;
  -webkit-box-shadow: #003340 -1px 0 inset;
  -o-box-shadow: #003340 -1px 0 inset;
  box-shadow: #003340 -1px 0 inset;
  text-shadow: #083e4b 0 -1px;
  padding: .8em !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
}
/* line 18, ../../sass/partials/_syntax.scss */
.highlight .line-numbers span, html .gist .gist-file .gist-syntax .gist-highlight .line-numbers span {
  color: #586e75 !important;
}

/* line 24, ../../sass/partials/_syntax.scss */
figure.code, .gist-file, pre {
  -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  -o-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
}
/* line 26, ../../sass/partials/_syntax.scss */
figure.code .highlight pre, .gist-file .highlight pre, pre .highlight pre {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 29, ../../sass/partials/_syntax.scss */
html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  padding-top: 26px !important;
}
/* line 34, ../../sass/partials/_syntax.scss */
html .gist .gist-file .gist-syntax {
  border-bottom: 0 !important;
  background: none !important;
}
/* line 37, ../../sass/partials/_syntax.scss */
html .gist .gist-file .gist-syntax .gist-highlight {
  background: #002b36 !important;
}
/* line 44, ../../sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta {
  padding: .6em 0.8em;
  border: 1px solid #083e4b !important;
  color: #586e75;
  font-size: .7em !important;
  background: #003340 url('/images/noise.png?1319314870') top left;
  border: 1px solid #05232b !important;
  border-top: 1px solid #003340 !important;
  line-height: 1.5em;
}
/* line 58, ../../sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a {
  color: #75878b !important;
  text-decoration: none;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
html .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
/* line 61, ../../sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a:hover {
  color: #93a1a1 !important;
}
/* line 63, ../../sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a[href*='#file'] {
  position: absolute;
  top: 0;
  left: 0;
  right: -10px;
  color: #474747 !important;
}
/* line 67, ../../sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a[href*='#file']:hover {
  color: #1863a1 !important;
}
/* line 69, ../../sass/partials/_syntax.scss */
html .gist .gist-file .gist-meta a[href*=raw] {
  top: .4em;
}

/* line 75, ../../sass/partials/_syntax.scss */
pre {
  background: #002b36 url('/images/noise.png?1319314870') top left;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 1px solid #05232b;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: #93a1a1;
  overflow: auto;
}

/* line 89, ../../sass/partials/_syntax.scss */
h3.filename + pre {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  -o-border-top-left-radius: 0px;
  -ms-border-top-left-radius: 0px;
  -khtml-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  -o-border-top-right-radius: 0px;
  -ms-border-top-right-radius: 0px;
  -khtml-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
}

/* line 93, ../../sass/partials/_syntax.scss */
p code, li code {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -khtml-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 0;
}
/* line 106, ../../sass/partials/_syntax.scss */
p pre code, li pre code {
  font-size: 1em !important;
  background: none;
  border: none;
}

/* line 109, ../../sass/partials/_syntax.scss */
.pre-code, html .gist .gist-file .gist-syntax .gist-highlight pre, .highlight code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em !important;
  overflow-x: auto;
  line-height: 1.45em;
  background: #002b36 url('/images/noise.png?1319314870') top left !important;
  color: #93a1a1 !important;
  /* Comment */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Operator */
  /* Operator.Word */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Name.Variable */
  /* Literal.Number.Float */
  /* Literal.Number */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.String */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Interpol */
  /* Literal.String.Regex */
  /* Literal.String.Single */
}
/* line 17, ../../sass/base/_utilities.scss */
.pre-code *::-moz-selection, html .gist .gist-file .gist-syntax .gist-highlight pre *::-moz-selection, .highlight code *::-moz-selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px;
}
/* line 18, ../../sass/base/_utilities.scss */
.pre-code *::-webkit-selection, html .gist .gist-file .gist-syntax .gist-highlight pre *::-webkit-selection, .highlight code *::-webkit-selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px;
}
/* line 19, ../../sass/base/_utilities.scss */
.pre-code *::selection, html .gist .gist-file .gist-syntax .gist-highlight pre *::selection, .highlight code *::selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px;
}
/* line 120, ../../sass/partials/_syntax.scss */
.pre-code span, html .gist .gist-file .gist-syntax .gist-highlight pre span, .highlight code span {
  color: #93a1a1 !important;
}
/* line 121, ../../sass/partials/_syntax.scss */
.pre-code span, html .gist .gist-file .gist-syntax .gist-highlight pre span, .highlight code span {
  font-style: normal !important;
  font-weight: normal !important;
}
/* line 123, ../../sass/partials/_syntax.scss */
.pre-code .c, html .gist .gist-file .gist-syntax .gist-highlight pre .c, .highlight code .c {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 124, ../../sass/partials/_syntax.scss */
.pre-code .cm, html .gist .gist-file .gist-syntax .gist-highlight pre .cm, .highlight code .cm {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 125, ../../sass/partials/_syntax.scss */
.pre-code .cp, html .gist .gist-file .gist-syntax .gist-highlight pre .cp, .highlight code .cp {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 126, ../../sass/partials/_syntax.scss */
.pre-code .c1, html .gist .gist-file .gist-syntax .gist-highlight pre .c1, .highlight code .c1 {
  color: #586e75 !important;
  font-style: italic !important;
}
/* line 127, ../../sass/partials/_syntax.scss */
.pre-code .cs, html .gist .gist-file .gist-syntax .gist-highlight pre .cs, .highlight code .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important;
}
/* line 128, ../../sass/partials/_syntax.scss */
.pre-code .err, html .gist .gist-file .gist-syntax .gist-highlight pre .err, .highlight code .err {
  color: #dc322f !important;
  background: none !important;
}
/* line 129, ../../sass/partials/_syntax.scss */
.pre-code .k, html .gist .gist-file .gist-syntax .gist-highlight pre .k, .highlight code .k {
  color: #cb4b16 !important;
}
/* line 130, ../../sass/partials/_syntax.scss */
.pre-code .o, html .gist .gist-file .gist-syntax .gist-highlight pre .o, .highlight code .o {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 131, ../../sass/partials/_syntax.scss */
.pre-code .p, html .gist .gist-file .gist-syntax .gist-highlight pre .p, .highlight code .p {
  color: #93a1a1 !important;
}
/* line 132, ../../sass/partials/_syntax.scss */
.pre-code .ow, html .gist .gist-file .gist-syntax .gist-highlight pre .ow, .highlight code .ow {
  color: #2aa198 !important;
  font-weight: bold !important;
}
/* line 133, ../../sass/partials/_syntax.scss */
.pre-code .gd, html .gist .gist-file .gist-syntax .gist-highlight pre .gd, .highlight code .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block;
}
/* line 134, ../../sass/partials/_syntax.scss */
.pre-code .gd .x, html .gist .gist-file .gist-syntax .gist-highlight pre .gd .x, .highlight code .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block;
}
/* line 135, ../../sass/partials/_syntax.scss */
.pre-code .ge, html .gist .gist-file .gist-syntax .gist-highlight pre .ge, .highlight code .ge {
  color: #93a1a1 !important;
  font-style: italic !important;
}
/* line 137, ../../sass/partials/_syntax.scss */
.pre-code .gh, html .gist .gist-file .gist-syntax .gist-highlight pre .gh, .highlight code .gh {
  color: #586e75 !important;
}
/* line 138, ../../sass/partials/_syntax.scss */
.pre-code .gi, html .gist .gist-file .gist-syntax .gist-highlight pre .gi, .highlight code .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block;
}
/* line 139, ../../sass/partials/_syntax.scss */
.pre-code .gi .x, html .gist .gist-file .gist-syntax .gist-highlight pre .gi .x, .highlight code .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block;
}
/* line 142, ../../sass/partials/_syntax.scss */
.pre-code .gs, html .gist .gist-file .gist-syntax .gist-highlight pre .gs, .highlight code .gs {
  color: #93a1a1 !important;
  font-weight: bold !important;
}
/* line 143, ../../sass/partials/_syntax.scss */
.pre-code .gu, html .gist .gist-file .gist-syntax .gist-highlight pre .gu, .highlight code .gu {
  color: #6c71c4 !important;
}
/* line 145, ../../sass/partials/_syntax.scss */
.pre-code .kc, html .gist .gist-file .gist-syntax .gist-highlight pre .kc, .highlight code .kc {
  color: #859900 !important;
  font-weight: bold !important;
}
/* line 146, ../../sass/partials/_syntax.scss */
.pre-code .kd, html .gist .gist-file .gist-syntax .gist-highlight pre .kd, .highlight code .kd {
  color: #268bd2 !important;
}
/* line 147, ../../sass/partials/_syntax.scss */
.pre-code .kp, html .gist .gist-file .gist-syntax .gist-highlight pre .kp, .highlight code .kp {
  color: #cb4b16 !important;
  font-weight: bold !important;
}
/* line 148, ../../sass/partials/_syntax.scss */
.pre-code .kr, html .gist .gist-file .gist-syntax .gist-highlight pre .kr, .highlight code .kr {
  color: #d33682 !important;
  font-weight: bold !important;
}
/* line 149, ../../sass/partials/_syntax.scss */
.pre-code .kt, html .gist .gist-file .gist-syntax .gist-highlight pre .kt, .highlight code .kt {
  color: #2aa198 !important;
}
/* line 150, ../../sass/partials/_syntax.scss */
.pre-code .n, html .gist .gist-file .gist-syntax .gist-highlight pre .n, .highlight code .n {
  color: #268bd2 !important;
}
/* line 151, ../../sass/partials/_syntax.scss */
.pre-code .na, html .gist .gist-file .gist-syntax .gist-highlight pre .na, .highlight code .na {
  color: #268bd2 !important;
}
/* line 152, ../../sass/partials/_syntax.scss */
.pre-code .nb, html .gist .gist-file .gist-syntax .gist-highlight pre .nb, .highlight code .nb {
  color: #859900 !important;
}
/* line 153, ../../sass/partials/_syntax.scss */
.pre-code .nc, html .gist .gist-file .gist-syntax .gist-highlight pre .nc, .highlight code .nc {
  color: #d33682 !important;
}
/* line 154, ../../sass/partials/_syntax.scss */
.pre-code .no, html .gist .gist-file .gist-syntax .gist-highlight pre .no, .highlight code .no {
  color: #b58900 !important;
}
/* line 156, ../../sass/partials/_syntax.scss */
.pre-code .nl, html .gist .gist-file .gist-syntax .gist-highlight pre .nl, .highlight code .nl {
  color: #859900 !important;
}
/* line 157, ../../sass/partials/_syntax.scss */
.pre-code .ne, html .gist .gist-file .gist-syntax .gist-highlight pre .ne, .highlight code .ne {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 158, ../../sass/partials/_syntax.scss */
.pre-code .nf, html .gist .gist-file .gist-syntax .gist-highlight pre .nf, .highlight code .nf {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 159, ../../sass/partials/_syntax.scss */
.pre-code .nn, html .gist .gist-file .gist-syntax .gist-highlight pre .nn, .highlight code .nn {
  color: #b58900 !important;
}
/* line 160, ../../sass/partials/_syntax.scss */
.pre-code .nt, html .gist .gist-file .gist-syntax .gist-highlight pre .nt, .highlight code .nt {
  color: #268bd2 !important;
  font-weight: bold !important;
}
/* line 161, ../../sass/partials/_syntax.scss */
.pre-code .nx, html .gist .gist-file .gist-syntax .gist-highlight pre .nx, .highlight code .nx {
  color: #b58900 !important;
}
/* line 164, ../../sass/partials/_syntax.scss */
.pre-code .vg, html .gist .gist-file .gist-syntax .gist-highlight pre .vg, .highlight code .vg {
  color: #268bd2 !important;
}
/* line 165, ../../sass/partials/_syntax.scss */
.pre-code .vi, html .gist .gist-file .gist-syntax .gist-highlight pre .vi, .highlight code .vi {
  color: #268bd2 !important;
}
/* line 166, ../../sass/partials/_syntax.scss */
.pre-code .nv, html .gist .gist-file .gist-syntax .gist-highlight pre .nv, .highlight code .nv {
  color: #268bd2 !important;
}
/* line 168, ../../sass/partials/_syntax.scss */
.pre-code .mf, html .gist .gist-file .gist-syntax .gist-highlight pre .mf, .highlight code .mf {
  color: #2aa198 !important;
}
/* line 169, ../../sass/partials/_syntax.scss */
.pre-code .m, html .gist .gist-file .gist-syntax .gist-highlight pre .m, .highlight code .m {
  color: #2aa198 !important;
}
/* line 170, ../../sass/partials/_syntax.scss */
.pre-code .mh, html .gist .gist-file .gist-syntax .gist-highlight pre .mh, .highlight code .mh {
  color: #2aa198 !important;
}
/* line 171, ../../sass/partials/_syntax.scss */
.pre-code .mi, html .gist .gist-file .gist-syntax .gist-highlight pre .mi, .highlight code .mi {
  color: #2aa198 !important;
}
/* line 173, ../../sass/partials/_syntax.scss */
.pre-code .s, html .gist .gist-file .gist-syntax .gist-highlight pre .s, .highlight code .s {
  color: #2aa198 !important;
}
/* line 176, ../../sass/partials/_syntax.scss */
.pre-code .sd, html .gist .gist-file .gist-syntax .gist-highlight pre .sd, .highlight code .sd {
  color: #2aa198 !important;
}
/* line 177, ../../sass/partials/_syntax.scss */
.pre-code .s2, html .gist .gist-file .gist-syntax .gist-highlight pre .s2, .highlight code .s2 {
  color: #2aa198 !important;
}
/* line 178, ../../sass/partials/_syntax.scss */
.pre-code .se, html .gist .gist-file .gist-syntax .gist-highlight pre .se, .highlight code .se {
  color: #dc322f !important;
}
/* line 180, ../../sass/partials/_syntax.scss */
.pre-code .si, html .gist .gist-file .gist-syntax .gist-highlight pre .si, .highlight code .si {
  color: #268bd2 !important;
}
/* line 182, ../../sass/partials/_syntax.scss */
.pre-code .sr, html .gist .gist-file .gist-syntax .gist-highlight pre .sr, .highlight code .sr {
  color: #2aa198 !important;
}
/* line 183, ../../sass/partials/_syntax.scss */
.pre-code .s1, html .gist .gist-file .gist-syntax .gist-highlight pre .s1, .highlight code .s1 {
  color: #2aa198 !important;
}
/* line 186, ../../sass/partials/_syntax.scss */
.pre-code div .gd, html .gist .gist-file .gist-syntax .gist-highlight pre div .gd, .highlight code div .gd, .pre-code div .gd .x, html .gist .gist-file .gist-syntax .gist-highlight pre div .gd .x, .highlight code div .gd .x, .pre-code div .gi, html .gist .gist-file .gist-syntax .gist-highlight pre div .gi, .highlight code div .gi, .pre-code div .gi .x, html .gist .gist-file .gist-syntax .gist-highlight pre div .gi .x, .highlight code div .gi .x {
  display: inline-block;
  width: 100%;
}

/* line 189, ../../sass/partials/_syntax.scss */
.highlight, .gist-highlight {
  margin-bottom: 1.8em;
  background: #002b36;
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 190, ../../sass/partials/_syntax.scss */
.highlight pre, .gist-highlight pre {
  background: none;
  -moz-border-radius: none;
  -webkit-border-radius: none;
  -o-border-radius: none;
  -ms-border-radius: none;
  -khtml-border-radius: none;
  border-radius: none;
  border: none;
  padding: 0;
  margin-bottom: 0;
}

/* line 205, ../../sass/partials/_syntax.scss */
pre::-webkit-scrollbar, .highlight::-webkit-scrollbar, .gist-highlight::-webkit-scrollbar {
  height: .5em;
  background: rgba(0, 0, 0, 0.15);
}
/* line 206, ../../sass/partials/_syntax.scss */
pre::-webkit-scrollbar-thumb:horizontal, .highlight::-webkit-scrollbar-thumb:horizontal, .gist-highlight::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 209, ../../sass/partials/_syntax.scss */
.highlight code {
  background: #000;
}

/* line 210, ../../sass/partials/_syntax.scss */
figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em;
}
/* line 215, ../../sass/partials/_syntax.scss */
figure.code pre {
  margin-bottom: 0;
}
/* line 216, ../../sass/partials/_syntax.scss */
figure.code figcaption {
  position: relative;
}
/* line 221, ../../sass/partials/_syntax.scss */
figure.code .highlight {
  margin-bottom: 0;
}

/* line 226, ../../sass/partials/_syntax.scss */
.code-title, html .gist .gist-file .gist-meta a[href*='#file'], h3.filename, figure.code figcaption {
  text-align: center;
  font-size: 13px;
  line-height: 2em;
  text-shadow: #cbcccc 0 1px 0;
  color: #474747;
  font-weight: normal;
  margin-bottom: 0;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  -o-border-top-left-radius: 5px;
  -ms-border-top-left-radius: 5px;
  -khtml-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  -o-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  -khtml-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Helvetica Neue", Arial, "Lucida Grande", "Lucida Sans Unicode", Lucida, sans-serif;
  background: #aaaaaa url('/images/code_bg.png?1319314870') top repeat-x;
  border: 1px solid #565656;
  border-top-color: #cbcbcb;
  border-left-color: #a5a5a5;
  border-right-color: #a5a5a5;
  border-bottom: 0;
}

/* line 244, ../../sass/partials/_syntax.scss */
.download-source, html .gist .gist-file .gist-meta a[href*=raw], figure.code figcaption a {
  position: absolute;
  right: .8em;
  text-decoration: none;
  color: #666 !important;
  z-index: 1;
  font-size: 13px;
  text-shadow: #cbcccc 0 1px 0;
  padding-left: 3em;
}
/* line 4, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_hover-link.scss */
.download-source:hover, html .gist .gist-file .gist-meta a[href*=raw]:hover, figure.code figcaption a:hover {
  text-decoration: underline;
}

@media screen and (max-device-width: 480px) {
  /* line 15, ../../sass/custom/mulberry/_mixins.scss */
  #logo {
    background: url(/images/header-logo.png) left 20px no-repeat;
    background-size: contain;
    height: 85px;
  }
}
/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* line 19, ../../sass/custom/mulberry/_h5bp.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 20, ../../sass/custom/mulberry/_h5bp.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 21, ../../sass/custom/mulberry/_h5bp.scss */
audio:not([controls]) {
  display: none;
}

/* line 22, ../../sass/custom/mulberry/_h5bp.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
/* line 34, ../../sass/custom/mulberry/_h5bp.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 36, ../../sass/custom/mulberry/_h5bp.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
}

/* line 38, ../../sass/custom/mulberry/_h5bp.scss */
body, button, input, select, textarea {
  color: #222;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* line 46, ../../sass/custom/mulberry/_h5bp.scss */
::-moz-selection {
  background: #ff9600;
  color: #fff;
  text-shadow: none;
}

/* line 51, ../../sass/custom/mulberry/_h5bp.scss */
::selection {
  background: #ff9600;
  color: #fff;
  text-shadow: none;
}

/* =============================================================================
   Links
   ========================================================================== */
/* line 62, ../../sass/custom/mulberry/_h5bp.scss */
a {
  color: #00e;
}

/* line 63, ../../sass/custom/mulberry/_h5bp.scss */
a:visited {
  color: #551a8b;
}

/* line 64, ../../sass/custom/mulberry/_h5bp.scss */
a:hover {
  color: #06e;
}

/* line 65, ../../sass/custom/mulberry/_h5bp.scss */
a:focus {
  outline: thin dotted;
}

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
/* line 68, ../../sass/custom/mulberry/_h5bp.scss */
a:hover, a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 75, ../../sass/custom/mulberry/_h5bp.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 77, ../../sass/custom/mulberry/_h5bp.scss */
b, strong {
  font-weight: bold;
}

/* line 79, ../../sass/custom/mulberry/_h5bp.scss */
blockquote {
  margin: 1em 40px;
}

/* line 81, ../../sass/custom/mulberry/_h5bp.scss */
dfn {
  font-style: italic;
}

/* line 83, ../../sass/custom/mulberry/_h5bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 85, ../../sass/custom/mulberry/_h5bp.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 87, ../../sass/custom/mulberry/_h5bp.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* Redeclare monospace font family: h5bp.com/j */
/* line 90, ../../sass/custom/mulberry/_h5bp.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* Improve readability of pre-formatted text in all browsers */
/* line 93, ../../sass/custom/mulberry/_h5bp.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 95, ../../sass/custom/mulberry/_h5bp.scss */
q {
  quotes: none;
}

/* line 96, ../../sass/custom/mulberry/_h5bp.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 98, ../../sass/custom/mulberry/_h5bp.scss */
small {
  font-size: 85%;
}

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
/* line 101, ../../sass/custom/mulberry/_h5bp.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 102, ../../sass/custom/mulberry/_h5bp.scss */
sup {
  top: -0.5em;
}

/* line 103, ../../sass/custom/mulberry/_h5bp.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/* line 110, ../../sass/custom/mulberry/_h5bp.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 111, ../../sass/custom/mulberry/_h5bp.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 112, ../../sass/custom/mulberry/_h5bp.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */
/* line 124, ../../sass/custom/mulberry/_h5bp.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/*
 * Correct overflow not hidden in IE9
 */
/* line 130, ../../sass/custom/mulberry/_h5bp.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/* line 137, ../../sass/custom/mulberry/_h5bp.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/* line 144, ../../sass/custom/mulberry/_h5bp.scss */
form {
  margin: 0;
}

/* line 145, ../../sass/custom/mulberry/_h5bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Indicate that 'label' will shift focus to the associated form element */
/* line 148, ../../sass/custom/mulberry/_h5bp.scss */
label {
  cursor: pointer;
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
/* line 155, ../../sass/custom/mulberry/_h5bp.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
/* line 163, ../../sass/custom/mulberry/_h5bp.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */
/* line 170, ../../sass/custom/mulberry/_h5bp.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */
/* line 176, ../../sass/custom/mulberry/_h5bp.scss */
table button, table input {
  *overflow: auto;
}

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */
/* line 183, ../../sass/custom/mulberry/_h5bp.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/*
 * Consistent box sizing and appearance
 */
/* line 189, ../../sass/custom/mulberry/_h5bp.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 190, ../../sass/custom/mulberry/_h5bp.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 191, ../../sass/custom/mulberry/_h5bp.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
/* line 197, ../../sass/custom/mulberry/_h5bp.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
/* line 204, ../../sass/custom/mulberry/_h5bp.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* Colors for form validity */
/* line 208, ../../sass/custom/mulberry/_h5bp.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd;
}

/* =============================================================================
   Tables
   ========================================================================== */
/* line 215, ../../sass/custom/mulberry/_h5bp.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 216, ../../sass/custom/mulberry/_h5bp.scss */
td {
  vertical-align: top;
}

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
/* line 243, ../../sass/custom/mulberry/_h5bp.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 244, ../../sass/custom/mulberry/_h5bp.scss */
.ir br {
  display: none;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
/* line 247, ../../sass/custom/mulberry/_h5bp.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
/* line 250, ../../sass/custom/mulberry/_h5bp.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
/* line 253, ../../sass/custom/mulberry/_h5bp.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
/* line 256, ../../sass/custom/mulberry/_h5bp.scss */
.invisible {
  visibility: hidden;
}

/* Contain floats: h5bp.com/q */
/* line 259, ../../sass/custom/mulberry/_h5bp.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 260, ../../sass/custom/mulberry/_h5bp.scss */
.clearfix:after {
  clear: both;
}

/* line 261, ../../sass/custom/mulberry/_h5bp.scss */
.clearfix {
  zoom: 1;
}

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 289, ../../sass/custom/mulberry/_h5bp.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* Black prints faster: h5bp.com/s */
  /* line 290, ../../sass/custom/mulberry/_h5bp.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 291, ../../sass/custom/mulberry/_h5bp.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 292, ../../sass/custom/mulberry/_h5bp.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 293, ../../sass/custom/mulberry/_h5bp.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* Don't show links for images, or javascript/internal links */
  /* line 294, ../../sass/custom/mulberry/_h5bp.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 295, ../../sass/custom/mulberry/_h5bp.scss */
  thead {
    display: table-header-group;
  }

  /* h5bp.com/t */
  /* line 296, ../../sass/custom/mulberry/_h5bp.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 297, ../../sass/custom/mulberry/_h5bp.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 299, ../../sass/custom/mulberry/_h5bp.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 300, ../../sass/custom/mulberry/_h5bp.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* line 1, ../../sass/custom/mulberry/_global.scss */
body {
  font-family: Lucida Grande, Arial, "sans serif";
  color: #444444;
}

/* line 6, ../../sass/custom/mulberry/_global.scss */
a {
  cursor: pointer;
  color: #c12252;
}
/* line 10, ../../sass/custom/mulberry/_global.scss */
a.img {
  text-decoration: none;
}

/* line 15, ../../sass/custom/mulberry/_global.scss */
a:visited {
  color: #a00030;
}

/* line 1, ../../sass/custom/mulberry/_layout.scss */
#main {
  max-width: 968px;
  margin: 0 auto;
}
@media screen and (max-device-width: 480px) {
  /* line 7, ../../sass/custom/mulberry/_mixins.scss */
  #main {
    padding: 0 10px;
  }
}
/* line 6, ../../sass/custom/mulberry/_layout.scss */
#main #content > div,
#main #content article {
  width: 645px;
  float: left;
  margin-bottom: 50px;
  padding-right: 30px;
}
/* line 12, ../../sass/custom/mulberry/_layout.scss */
#main #content > div h1 a,
#main #content article h1 a {
  text-decoration: none;
}
@media screen and (max-device-width: 768px) {
  /* line 17, ../../sass/custom/mulberry/_layout.scss */
  #main #content > div,
  #main #content article {
    float: none;
    width: auto;
    padding: 0 15px;
  }
}
/* line 25, ../../sass/custom/mulberry/_layout.scss */
#main #content aside {
  width: 262px;
  float: left;
  padding-left: 30px;
  margin-top: 35px;
  margin-bottom: 50px;
}
@media screen and (max-device-width: 768px) {
  /* line 33, ../../sass/custom/mulberry/_layout.scss */
  #main #content aside {
    border-top: 1px solid #ccc;
    float: none;
    width: auto;
    padding: 0 15px;
  }
}

/* line 1, ../../sass/custom/mulberry/_header.scss */
header[role=banner] {
  background-color: #edebe9;
  position: relative;
}
/* line 5, ../../sass/custom/mulberry/_header.scss */
header[role=banner] .fork-me {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  z-index: 10;
}
/* line 13, ../../sass/custom/mulberry/_header.scss */
header[role=banner] .logo {
  background: url(/images/header-logo.png) left 20px no-repeat, url(/images/devices-transparent.png) right 60px no-repeat;
  height: 185px;
  text-indent: -9999px;
  margin: 0;
  max-width: 968px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-device-width: 768px) {
  /* line 18, ../../sass/custom/mulberry/_header.scss */
  header[role=banner] .logo {
    background: url(/images/header-logo.png) 15px 20px no-repeat, url(/images/devices-transparent.png) right 60px no-repeat;
  }
}
@media screen and (max-device-width: 480px) {
  /* line 7, ../../sass/custom/mulberry/_mixins.scss */
  header[role=banner] .logo {
    padding: 0 10px;
  }
}
/* line 30, ../../sass/custom/mulberry/_header.scss */
header[role=banner] .logo a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 50%;
}
@media screen and (max-device-width: 480px) {
  /* line 40, ../../sass/custom/mulberry/_header.scss */
  header[role=banner] .logo {
    background: url(/images/header-logo.png) left 20px no-repeat;
    background-size: contain;
    height: 105px;
  }
}

/* line 1, ../../sass/custom/mulberry/_navigation.scss */
nav.main {
  padding: 15px 0;
  background-color: #ff9600;
  color: #999;
  font-family: Helvetica;
  position: relative;
}
/* line 8, ../../sass/custom/mulberry/_navigation.scss */
nav.main > div {
  max-width: 968px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-device-width: 480px) {
  /* line 7, ../../sass/custom/mulberry/_mixins.scss */
  nav.main > div {
    padding: 0 10px;
  }
}
@media screen and (max-device-width: 768px) {
  /* line 13, ../../sass/custom/mulberry/_navigation.scss */
  nav.main > div {
    padding: 0 15px;
  }
}
/* line 18, ../../sass/custom/mulberry/_navigation.scss */
nav.main > div > ul {
  display: inline-block;
  white-space: nowrap;
}
/* line 22, ../../sass/custom/mulberry/_navigation.scss */
nav.main > div > ul li {
  display: inline;
  font-size: 18px;
  font-weight: bold;
  padding-right: 15px;
}
/* line 28, ../../sass/custom/mulberry/_navigation.scss */
nav.main > div > ul li a {
  color: #fff;
  text-shadow: 1px 1px #333;
  text-decoration: none;
}
/* line 33, ../../sass/custom/mulberry/_navigation.scss */
nav.main > div > ul li a[href*=download] {
  color: #0076a3;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  text-shadow: none;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  white-space: nowrap;
}
/* line 47, ../../sass/custom/mulberry/_navigation.scss */
nav.main > div form {
  float: right;
}
/* line 50, ../../sass/custom/mulberry/_navigation.scss */
nav.main > div form input {
  font-size: 14px;
  margin-left: 20px;
}
/* line 55, ../../sass/custom/mulberry/_navigation.scss */
nav.main > div form input[type="text"] {
  color: #0076a3;
  -webkit-box-shadow: 0 1px 2px #ccc inset;
  -moz-box-shadow: 0 1px 2px #ccc inset;
  border: none;
  padding: 4px 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  max-width: 120px;
}
/* line 65, ../../sass/custom/mulberry/_navigation.scss */
nav.main > div form input[type="text"]::-webkit-input-placeholder {
  color: #009bd6;
}
@media screen and (max-device-width: 480px) {
  /* line 71, ../../sass/custom/mulberry/_navigation.scss */
  nav.main > div form {
    display: none;
  }
}

/* line 1, ../../sass/custom/mulberry/_main.scss */
#main {
  max-width: 968px;
  margin: 0 auto;
}
@media screen and (max-device-width: 480px) {
  /* line 7, ../../sass/custom/mulberry/_mixins.scss */
  #main {
    padding: 0 10px;
  }
}
/* line 6, ../../sass/custom/mulberry/_main.scss */
#main article h1 {
  margin: 40px 0 0 0;
  font-size: 40px;
}
/* line 11, ../../sass/custom/mulberry/_main.scss */
#main article h2 {
  color: #0076a3;
  font-size: 30px;
  margin: 60px 0 10px 0;
}
/* line 17, ../../sass/custom/mulberry/_main.scss */
#main article p.img {
  text-align: center;
  padding: 0;
  margin: 0;
}
/* line 23, ../../sass/custom/mulberry/_main.scss */
#main article .filename + div {
  margin-bottom: 50px;
}
/* line 27, ../../sass/custom/mulberry/_main.scss */
#main article p {
  font-size: 15px;
  line-height: 24px;
}
/* line 32, ../../sass/custom/mulberry/_main.scss */
#main article li {
  font-size: 13px;
  line-height: 21px;
}
/* line 37, ../../sass/custom/mulberry/_main.scss */
#main article p.filename {
  margin: 30px 0 0 0;
  font-family: Helvetica, Arial, sans-serif;
  color: #ccc;
  font-size: 90%;
}
/* line 44, ../../sass/custom/mulberry/_main.scss */
#main article p.filename + div {
  margin-top: 5px;
}
/* line 48, ../../sass/custom/mulberry/_main.scss */
#main article pre + p {
  margin-top: 30px;
}
/* line 52, ../../sass/custom/mulberry/_main.scss */
#main article p.small {
  font-size: 90%;
}
/* line 58, ../../sass/custom/mulberry/_main.scss */
#main figure.code .highlight {
  overflow: auto;
}
/* line 61, ../../sass/custom/mulberry/_main.scss */
#main figure.code .highlight::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
}
/* line 65, ../../sass/custom/mulberry/_main.scss */
#main figure.code .highlight pre {
  margin-top: 0;
}
/* line 69, ../../sass/custom/mulberry/_main.scss */
#main figure.code .highlight .line {
  white-space: pre !important;
}
/* line 75, ../../sass/custom/mulberry/_main.scss */
#main #twitter {
  margin: 40px 0 0 0;
  padding-top: 40px;
  border-top: 1px solid #ccc;
}
/* line 81, ../../sass/custom/mulberry/_main.scss */
#main #tour {
  text-align: center;
}

/* line 2, ../../sass/custom/mulberry/_asides.scss */
aside h1 {
  font-size: 150%;
}
/* line 6, ../../sass/custom/mulberry/_asides.scss */
aside a {
  text-decoration: none;
}
/* line 10, ../../sass/custom/mulberry/_asides.scss */
aside section {
  margin: 0 0 30px 0;
}
/* line 11, ../../sass/custom/mulberry/_asides.scss */
aside section:first-child {
  border: 0;
}
/* line 18, ../../sass/custom/mulberry/_asides.scss */
aside ul {
  padding: 0;
}
/* line 21, ../../sass/custom/mulberry/_asides.scss */
aside ul li {
  list-style-type: none;
  margin: 0 0 8px 0;
}
/* line 27, ../../sass/custom/mulberry/_asides.scss */
aside iframe {
  margin-bottom: 15px;
}
/* line 32, ../../sass/custom/mulberry/_asides.scss */
aside #tweets a[href*="status"] {
  float: right;
}
/* line 38, ../../sass/custom/mulberry/_asides.scss */
aside .mailing-list input[type="text"] {
  color: #0076a3;
  -webkit-box-shadow: 0 1px 2px #ccc inset;
  -moz-box-shadow: 0 1px 2px #ccc inset;
  border: 1px solid #ccc;
  padding: 4px 7px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  max-width: 100px;
}
/* line 49, ../../sass/custom/mulberry/_asides.scss */
aside .mailing-list input[type="text"]::-webkit-input-placeholder {
  color: #009bd6;
}
/* line 53, ../../sass/custom/mulberry/_asides.scss */
aside .mailing-list input[type="submit"] {
  border: none;
  padding: 5px 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px #ccc;
  -moz-box-shadow: 0 1px 2px #ccc;
  color: #fff;
  background-color: #0076a3;
  border: 1px solid #0076a3;
  font-weight: bold;
}
/* line 66, ../../sass/custom/mulberry/_asides.scss */
aside .mailing-list .extra-info {
  padding: 10px 0;
}
/* line 72, ../../sass/custom/mulberry/_asides.scss */
aside .subscription li.rss {
  background: url(/images/feed-icon-28x28.png) 0 50% no-repeat;
  padding: 10px 0 0 35px;
  min-height: 28px;
}

/* line 1, ../../sass/custom/mulberry/_footer.scss */
footer[role=contentinfo] {
  clear: both;
  position: relative;
  margin-top: 80px;
  background-color: #ff9600;
  padding: 20px 0;
}
/* line 8, ../../sass/custom/mulberry/_footer.scss */
footer[role=contentinfo] p {
  max-width: 968px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-device-width: 480px) {
  /* line 7, ../../sass/custom/mulberry/_mixins.scss */
  footer[role=contentinfo] p {
    padding: 0 10px;
  }
}
/* line 13, ../../sass/custom/mulberry/_footer.scss */
footer[role=contentinfo] a {
  color: #0076a3;
}
