.component.audio-player
  %a.button.playpause{ dojoAttachPoint : 'playpause', title : "Play" }
  %a.button.rev30{ dojoAttachPoint : 'rev30', title : "Rewind 30 seconds" }
  .spinner-container
    .spinner{ dojoAttachPoint : 'spinner' }
      .spinner-fill{ dojoAttachPoint : 'spinnerFill' }
      .spinner-dial-container{ dojoAttachPoint : 'spinnerDialContainer'}
        .spinner-dial{ dojoAttachPoint : 'spinnerDial' }
