.component.audio-player
  %div
    %a.button.playpause{ dojoAttachPoint : 'playpause', title : "Play" }
    :if !androidAudioFallback
      %a.button.rev30{ dojoAttachPoint : 'rev30', title : "Rewind 30 seconds" }
      .spinner{ dojoAttachPoint : 'spinner', style : 'background-color: transparent;' }
