.component.more-drawer
  :if isPhone
    %section
      %menu
        :if !isNotStandalone
          =helpers.homeButton
        =helpers.fontSizeButton
        =helpers.searchButton

    %section
      %menu
        =helpers.favoriteButton
        =helpers.sharingButtons

  :if isTablet
    %section
      %menu
        =helpers.fontSizeButton
        =helpers.favoriteButton
        =helpers.sharingButtons

  %section{ dojoAttachPoint : 'shareSection' }
